*{
	box-sizing: border-box;
}

h3,h1{
	text-align: center;
	font-weight: bold;
}

.navbar-brand h1{
	
	color:white;
	padding-left: 5px;
	text-align: center;
	font-weight: bold;
	text-shadow: 2px 2px 4px #000000;
	margin-top: 0;
	margin-bottom: 0;

	font-family: Overlock SC;
	clear: both;
	



}

#navlist{
	margin-top: 10px;

}
#nav-list a{
	color:green;
	text-align: center;
	clear: right;
	margin: 5px;
	background: yellow;

	padding: 5px;
	font-size: 1.5em;
	font-family: Lobster;

}

#nav-list a:hover {
  background: white;
  color:black;
}

.navbar-default{
background-color: #000066;
}

body{
	background-color: white;
}


button{
	padding:0px;
}


section{
	
	border: 1px;
	background:gray;
	color: black;
	padding: 5px;
	
	position: relative;
	font-weight: bold;
	margin:10px;
	
	float:left;
	

}


section h3{
	color: black;
	
}



@media (min-width: 992px) 
{
.row
{
	width:100%;
}
.col-lg-4
{	float: left;
	width: 33%;
}

}
@media (min-width: 768px) and (max-width: 991px)
{
	.col-md-6
{	float: left;
	width:50%;
}
.col-md-12
{	float:left;
	width:100%;
	height:150px;
}



