*{
	box-sizing: border-box;
}

.navbar-brand h1{
	text-align: left;
	color:white;
	padding-left: 5px;
	
	font-weight: bold;
	text-shadow: 2px 2px 4px #000000;
	margin-top: 0;
	margin-bottom: 0;

	font-family: Overlock SC;
	clear: both;
	



}

#navlist{
	margin-top: 10px;

}
#nav-list a{
	color:white;
	text-align: center;
	clear: right;
	margin: 5px;
	
	padding: 5px;
	font-size: 1.5em;
	font-family: Lobster;

}

#nav-list a:hover {
  background: white;
  color:black;
}

.navbar-default{
background-color: #000066;
}

body{
	background-color: #5f82cb;
}

img{
	float: left;
	padding: 5px;
	clear:;

}
.glyphicon
{

padding:10px;
}
button{
	padding:0px;
}