.navbar-brand h1{
	text-align: left;
	color:white;
	padding: 5px;
	font-size: 250%;
	font-weight: bold;
	text-shadow: 2px 2px 4px #000000;
	margin-left: 10px;
	font-family: Overlock SC



}

#nav-list a{
	color:white;
	
	margin-right: 3px;
	text-align: center;
	font-family: Lobster;

}

#navlist a:hover{
	background: white;

}

.navbar-default{
background-color: #000066;
}

body{
	background-color: #5f82cb;
}

img{
	float: left;
	padding: 5px;

}
.glyphicon
{

clear left;

}